.animation-wrapper {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.firefly {
  pointer-events: none;
  position: absolute; 
  width: 10px;
  height: 10px;
  border-radius: 50%; 
  background: gray;
  -webkit-animation: implode 2s ease-in-out;
          animation: implode 2s ease-in-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  box-shadow: 0px 0px 6px 2px rgba(164, 218, 176, .5);
}

.bounced {
  z-index: 2;
  -webkit-animation: explode .5s ease-in;
          animation: explode .5s ease-in;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
} 

@-webkit-keyframes implode {
  100% {
    transform: scale(0);
  }
}

@keyframes implode {
  100% {
    transform: scale(0);
  }
}

@-webkit-keyframes explode {
  50% {
    background-color: #5dd878;
  }
  80% {
    transform: scale(2);
    background-color: #a4dab0;
  }
  100% {
    transform: scale(0);
    background-color: #fff;
  }
}

@keyframes explode {
  50% {
    background-color: #5dd878;
  }
  80% {
    transform: scale(2);
    background-color: #a4dab0;
  }
  100% {
    transform: scale(0);
    background-color: #fff;
  }
}